body{
    background-color: aquamarine;
}
canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 75px;
}
@keyframes example {

    from {box-shadow: 1px 1px 38px darkblue;}
    to {box-shadow: 1px 1px 38px darkmagenta;}
    
    }

    #label{
font-size: 25px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    #Confidence{
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    h1{
        color: blue;
        letter-spacing: 2px;
    }